
<h1>Connie Mayfield</h1>
<h2>Web Developer | Web Designer</h2>

<img src="https://flic.kr/p/7S2hix"/>


<strong>Favorite Quote</strong>
<em> "When you are going through hell, keep going!</em> --Winston Churchill

