<h1>About Me</h1>

<p>I'm a Tech Talent South student and Web Developer in training, with a focus on designing sites using Ruby on Rails, HTML5, CSS3, JavaScript & WordPress</p>
<p>Right now, I'm closing on my first home, and preping for renovation as well. It's to be a work in process - a duplex with 3 stories and 4 bedrooms - a space for new dreams, projects and play!</p>